#icon{
  margin-right: 8px;
}

body{
  background-color: #F7F9F9;
}


.page{
    font-family: 'Lora', serif;

}

.jumbotron{
  margin-top: 20px;
  background: #F7F9F9;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px #888888;
}

.row{

  margin:5%;
  justify-content: space-evenly;

}


.wrap {
    box-sizing: border-box;
    background-color: #343a40;
        display: flex;
        justify-content: center;
        align-items: stretch;
  margin: 0 auto;
  margin-right: 0;
  margin-left: 0;
    max-width: 500px;
    padding-bottom: 16px;

}



#view{
  width:50%;
  border-radius: 0;
  background: #59D61C;
}


#leave{
    width:50%;
    border-radius: 0;


}

#leave:hover{
  width:70%;
}

#view:hover{
  width:70%;
}


.button-icon{
  padding-left: 50px;
}


.col-lg-4{
  flex-shrink: 0;

  text-align: center;
}



.col-md-6{
flex: 0 0 45%;

  text-align: center;
justify-content: center;
}

.col-sm-12{
  flex: 0 0 100%;
  text-align: center;
}



.outbox{
  border: 2px solid black;
 text-align: left;
  border-radius: 5px;
  margin: 0;
    margin-bottom: 40px;
    padding: 0;

  border-style: double;
  background: white;

}

.caption{
  padding-bottom: 0;
  margin: 0;
}

#apply{
  margin-left: 10px;
}

.groupinfo{
  padding: 10px;
  padding-left: 15px;

}

/*hr{
  border: 1px solid gray;
  width: 40%;
  margin-left: 10px;
  margin-bottom: 40px;
}*/

.groupname{
/*  text-align: center;
*/  padding: 10px 0 10px 10px;
  margin: 0;

  background-color: #343a40; 
  color:#F4F6F7;
}




/*@media (min-width: 576px){
.col-sm-12 {
    flex: 0 0 100%;
  }

}



@media (min-width: 768px){
.col-md-6 {
      flex: 0 0 49%;


}

}*/


@media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 32%;
  }

}








