<!DOCTYPE html>
<html>
<head>
	<title>StudyUp - Study with Friends</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="account.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">




</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <img id="icon" src="https://img.icons8.com/cotton/40/000000/pen.png"/>

        <a class="navbar-brand" href="#">StudyUp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        


        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Groups<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Account</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Register</a>
            </li>
        </ul>
    </div>

</nav>

<div class="container">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Groups that you belong to:</h1>
    <p class="lead">This page shows all the groups in which you are a member</p>
    <button class="btn btn-primary">View Join Requests</button>
  </div>
</div>
</div>






<div class="page">


  <div class="row" >
<!--         for each entry
 -->            


 <div class=" col-lg-4 col-md-6 col-sm-12 outbox">
                <div class="scard ">
                   <div class="caption">

                        <div class="groupname">
                       <h3 class="groupname">Group Name</h3>
                     </div>

                      <div class="groupinfo">
                       <p>Some Info<p>
                       <p>Some Info<p>
                       <p id="description" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                       consequat. </p>
                       </div>


                

                   </div>
              
                </div>

                <div class="wrap">
                      
                       <a id="view" href="..." class="btn btn-success">View</a>
                   
                   
                       <a id="leave" href="..." class="btn btn-danger">Leave</a>
                  

                 </div>
            </div>


<div class=" col-lg-4 col-md-6 col-sm-12 outbox">
                <div class="scard ">
                   <div class="caption">

                        <div class="groupname">
                       <h3 class="groupname">Group Name</h3>
                     </div>

                      <div class="groupinfo">
                       <p>Some Info<p>
                       <p>Some Info<p>
                       <p id="description" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                       consequat. </p>
                       </div>


                

                   </div>
              
                </div>

                <div class="wrap">
                      
                       <a id="view" href="..." class="btn btn-success">View</a>
                   
                   
                       <a id="leave" href="..." class="btn btn-danger">Leave</a>
                  

                 </div>
            </div>


            <div class=" col-lg-4 col-md-6 col-sm-12 outbox">
                <div class="scard ">
                   <div class="caption">

                        <div class="groupname">
                       <h3 class="groupname">Group Name</h3>
                     </div>

                      <div class="groupinfo">
                       <p>Some Info<p>
                       <p>Some Info<p>
                       <p id="description" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                       consequat. </p>
                       </div>


                

                   </div>
              
                </div>

                <div class="wrap">
                      
                       <a id="view" href="..." class="btn btn-success">View<img class="button-icon" src="https://img.icons8.com/android/20/000000/long-arrow-right.png"/></a>
                   
                   
                       <a id="leave" href="..." class="btn btn-danger">Leave<img class="button-icon" src="https://img.icons8.com/material/20/000000/circled-x.png"/></a>
                  

                 </div>
            </div>




            <div class=" col-lg-4 col-md-6 col-sm-12 outbox">
                <div class="scard ">
                   <div class="caption">

                        <div class="groupname">
                       <h3 class="groupname">Group Name</h3>
                     </div>

                      <div class="groupinfo">
                       <p>Some Info<p>
                       <p>Some Info<p>
                       <p id="description" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                       consequat. </p>
                       </div>
                      <p>
                       <a id="apply" href="..." class="btn btn-primary">View</a>
                   </p>

                   </div>
              
                </div>
            </div>


            <div class=" col-lg-4 col-md-6 col-sm-12 outbox">
                <div class="scard ">
                   <div class="caption">

                        <div class="groupname">
                       <h3 class="groupname">Group Name</h3>
                     </div>

                      <div class="groupinfo">
                       <p>Some Info<p>
                       <p>Some Info<p>
                       <p id="description" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                       consequat. </p>
                       </div>
                      <p>
                       <a id="apply" href="..." class="btn btn-primary">View</a>
                   </p>

                   </div>
              
                </div>
            </div>



<!--             close loop
 -->
    </div>


    </div>

  </div>


</body>
</html>
