<!DOCTYPE html>
<html>
<head>
	<title>StudyUp - Study with Friends</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/creategroup.css" th:href="@{/css/creategroup.css}">
	<link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">


</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/groups">
            <img th:src="@{/images/book-logo.png}" width="75" height="50" alt="">
            StudyUp
        </a>

        <div class="navbar-text">
            The Best Place to Study With Friends
        </div>

        <a class="navbar-brand" th:href="@{'/' + ${user}}">Profile</a>
    </nav>



    <div class="screen">

        <div class="logo">
            <img th:src="@{/images/book-logo.png}" />
            <h2>StudyUp</h2>
        </div>

        <!-- This is the setup needed for login in java spring security, cannot do it with a post method I create at this point -->
        <div class="container" tiles:fragment="content">
            <form th:action="@{/create-group}" method="post">
                <fieldset>
                    <div class="legend-join">
                        <legend>Create Study Group</legend>
                    </div>

                    <div class="row">
                        <label class="col-2" for="groupname">Groupname: </label>
                        <div class="col-10">
                            <input type="text" id="groupname" name="groupname" placeholder="  Groupname"/>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-2" for="subject">Subject: </label>
                        <div class="col-10">
                            <input type="text" id="subject" name="subject" placeholder="  Subject"/>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-2" for="description">Description: </label>
                        <div class="col-10">
                            <input type="text" id="description" name="description" placeholder="  Description"/>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn">Create</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>